/* .login-container {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
<<<<<<< HEAD
}  */
 /* .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    }  */

.container{
    width: 1150px;
}    
 .form-group {
    margin-bottom: 5px;
    font-size: 16px;
} 
/* .form-group label{
    display: block;
} */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    /* font-weight: bold; */
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input:focus {
    border-color: #4caf50;
    outline: none;
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background-color: #45a049;
}
.forgot-password {
    text-align: center;
    margin-top: 10px;
}
.forgot-password a {
    color: #007bff;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}*/

.col-forms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ctn{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.ctn-botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: none;
}

.ctn-botoes-cadastrar:active{
    box-shadow: 0 2px #2e7d32; /* Reduz a sombra ao clicar */
    transform: translateY(2px); /* Movimenta o botão ao clicar */
}

.ctn-botoes-cadastrar{
    background: #68B42D;
    color: #fff; 
    font-size: 20px; 
    font-weight: 500;
    font-family: Inter; 
    border-radius: 10px;
    text-align: center;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    padding: 10px 20px;
    border: none;
    
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* align-items: center;  */
    /* align-items: flex-start; */
    /* display: inline-flex */
    /* display: flex; */
    /* flex-direction: column; */
    /* word-wrap: break-word; */
}

.ctn-botoes-cancelar{
    background: #464646;
    color: #fff; 
    font-size: 20px; 
    font-weight: 700;
    font-family: Inter; 
    border-radius: 10px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;

    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* display: inline-flex */
    /* align-items: center; */
    /* div style="flex-direction: column;  align-items: flex-start; display: flex"> */
}

.ctn-titulo{
    color: #0E4194; 
    font-size: 30px; 
    font-family: Inter; 
    font-weight: 700;
    /* margin-bottom: 20px; */
}

.painel{
    padding: 2.25rem !important;
    /* margin: 1rem !important; */
    box-shadow: var(--bs-box-shadow-sm) !important;
    border-radius: 10px;
    border: 1px solid #303030;
}
#painel-flex-column{
    display: flex;
    flex-direction: row !important;
}

.form-control {
    border: var(--bs-border-width) solid #303030 !important;
}

.div-principal{
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.botoes-alinhados{
    display: flex;
    gap: 20px;
}

label{
    font-size: 24px; 
    font-family: Inter;
    font-weight: 500;
    color:#000;
}
#container_cadastro_usuario{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    width: 515px;
}
